@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

html, body {
  font-family: "Plus Jakarta Sans", system-ui, sans-serif;
}
