body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #f5f7fa;
}

body::-webkit-scrollbar-thumb {
  background-color: #533afd;
  border-radius: 20px;
  border: 2px solid #f5f7fa;
  height: 25%;
}

.overflow-y-auto::-webkit-scrollbar {
  width: 5px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background: rgba(83, 58, 253, 0.6);
  border-radius: 10px;
}